html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.500rem;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
    color: lightcoral;
}

.dateBtn.sapMBtn {
    display: block;
}

.item1{
    width: 80%;
    margin-bottom: 0.500rem;
}