.noScroll{
    overflow: hidden;
}

.regestaLogo{
    text-align: center;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.loginHeader{
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.flexCenter{
    align-items: center;
    justify-content: center;
    transform: scale(1.3);
}
